@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small helper for clamping text to 2 lines with ellipsis */
.line-clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
